<header>
    <img src="assets/img/Frame 6.jpg" 
    alt="Caio Henrique - Foto Perfil"
    width="130px"
    height="130px"
    loading="eager">

    <h1>Caio Henrique</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack Javascript | Angular | NodeJs | NestJs</p>
        <p>São Paulo -SP </p>
        <p>
            Estou na área de desenvolvedor de software á 1 ano. Resolvi abraçar
            a stack de JS pois atua com Front-End & Backend.
        </p>

        <nav>
            <ul>
                <li><a href="assets/pdf/cv.pdf" 
                    target="_blank" 
                    class="btn btn-primary">Open CV</a></li>

                <li><a href="https://www.linkedin.com/in/caio-silva361/"
                     target="_blank"
                     class="btn btn-senconday">LinkedIn</a></li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" 
                alt="ícone para contato do whatsapp"
                width="22px"
                height="24px">

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5511970913872&text=O1%C3%A1%20Caio,%20preciso%20de%20um@20job!"
                    target="_blank">
                    <strong>Envie uma menssagem para:</strong>
                    <p>whatsapp: (11) 9 97091-3872</p></a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" 
                alt="ícone para contato do e-mail"
                width="22px"
                height="24px">

                <figcaption>
                    <a href="mailto:caios.trofino@gmail.com"
                    target="_blank">
                    <strong>Envie uma e-mail:</strong>
                    <p>caios.trofino&#64;gmail.com</p></a>
                </figcaption>
            </figure>
        </section>

    </div>
</aside>